/*

Breakpoints: 
- Tablet = 770px;
- Mobile = 480px;

*/

@media screen and (max-width: 770px) {
  .about-text {
    margin-top: 40px;
  }

  .counter2 {
    border: none;
  }

  .services-crad-cont {
    flex-direction: column;
  }

  .services-card {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .logo h2 {
    font-size: 24px;
  }

  .dot {
    font-size: 24px;
  }

  .hero h4 {
    font-size: 16px;
  }

  .hero h2 {
    font-size: 44px;
  }

  .navbar-container {
    padding: 20px;
  }

  .hero-buttons button {
    font-size: 16px;
  }
}
